<div class="img-thumbnail">
  <div><%= image_tag @photo.image.url, size: "220x200" %></div>
</div>
<div id="photo_comments">
  <div>
    <%= render :partial => 'photo_comments', :locals => {comments: @comments} %>
  </div>
<div>
  <%= text_area_tag "comment_name" %>
</div>
<p></p>
<div class="form-group">
  <%= button_tag 'POST COMMENT', :class => "post_comment" %>
</div>
<script type="text/javascript">
  $('.post_comment').click(function() {  
    cname = $('#comment_name').val()
    $.ajax({
        type: "POST",
        url: "/users/<%= @photo.album.user.id %>/albums/<%= @photo.album.id %>/photos/<%= @photo.id %>/comments", 
        data: {comment: {comment_name: cname}}
    }).complete(function(json){
      $('#photo_comments').html(json.responseText);
      $('#comment_name').val('');
    });
  });
</script>